<div class="footer text-center mt-2" style="height:8rem; padding-bottom:2rem; padding-top:4rem;">
    <a href="https://www.instagram.com/tlcsushi/">
        <h6 style="text-decoration: none">
            <b>INSTAGRAM</b><i class="bi bi-instagram ml-2"></i>
        </h6>
    </a>
</div>